<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFwYit4ajJlNFVSbXpIS3ZId1YrZApETVQvWHhtOHF5N1lrL2JSc2JNNDAvakZTYVZiMld6dlh6TFhWeEZjRFJxVkk5djd6K3VSczR6SDVPdUhIbkJEClo0SWROWnYrVWtyQllzZWlCZWU0dUNta09uaWpEaTFwQmdRK1BESE5GUU5qZVdMUzFobnhyZjBsbHdQVkJPVW0KSE4rRXJGYUdxTm9NME5LbDJvN2lGNnZpalJBdmVLUFFCUUpObjVwNmpSaFJTcDFFMnRZUzQ1YmsxSU1HcHpGWgoweUdXYTJIVTgyY3cvd3Z6V21aQ0NRamRyTEFIYk9Lazc4Q3NJZkZFQk9pVnplZ3JTaU5iM3hGMUExUnJzbTRuCnpCZXVNTW95QTdnOU5IVnNQc0NEUGI4bTVtbkhGeUpvc240aEJjRVEzbnJ6dnVsc1BtZnFjYXIwMElSRUpJMWEKYWdOZ21PQ2YvL09rTUlNNElQcnZtZVlpTDJLQkxKcU9mUlRpK0dHMWtKVi9UWVNoYW5tUGtyN1MrUXY1eWRLUQpSNS9HbUhMcGQ4Q1FtVlk4ZzNNUTRYQ0RGNXBzdEZ0eFY2TDI2RlJkYm5RNEh1NFNzV1hUVU8vZW1SZ0RrYWVlCllsV3BPbkJJMGN3bWxONDdHNUpQSkFPRXZGOEY5cXlhUHJqU2tSOEFiK0pOQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>xJayMorex</string>
</dict>
</plist>
